* {
  box-sizing: border-box;
}
.heading4 {font-style: oblique; color: white;}

.heading {color: red; text-align: center;}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 0, 0.3);
}

.mobiletest {
  display: none;
}

.portfoliotitle {
  font-size: 1.5rem;
  margin: .5rem;
  color: white;
}
.links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: white;
    padding: 1rem; 
    display: block;
}

.links li a .active {
    /*  */
    background-color: #111;
}

.links li:hover{
background-color: black;
}

.burgertoggle {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.burgertoggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1000px){
  .mobiletest {
    display: flex;
    color: red;
  }
  .burgertoggle {
    display: flex;
  }
  .links {
    display: flex;
    width: 100%;
    text-align: left;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .links ul {
    width: 100%;
    flex-direction: column;
  }
  .links li {
    text-align: center;
  }
  .links li a {
    padding: .5rem 1rem
  } 
  .links.active {
    display: flex;
  }
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: 100px;
    justify-content: center;
    border: 1px solid white;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: red;
    color: black;
    transform: rotateY(180deg);
  }

.testimage {
  width: 300px; height:300px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  transition:1.5s ease-in-out;
}

.container:hover{
  border-radius: 50%;
  transform: rotateX(720deg); 
  background-color: transparent;
}

.container::after {
  content:'';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: red;
  border: 4px solid;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%
}

.left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid red;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid red;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: red;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 1000px) {
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .left::after, .right::after {
    left: 15px;
  }
  .right {
    left: 0%
  }
}

.form{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
legend{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

fieldset{
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}